
@{
    ViewData["Title"] = "Detaylar";
}
<img src="~/detayfoto/villavillam_villa_verreta_trio-22_730.jpg" class="d-block w-100 h-100" />


<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Jakuzili Villalar</h2>
                <p class="card-text">Eşsiz ve mükemmel bir tatilin tamamlayıcısı jakuzilerdir. Jakuzili villalar ile harika bir tatilin startını verebilirsiniz. Sevdiklerinizle beraber Türkiye’nin en iyi beldelerinde unutulmaz bir tatil fırsatı sizi bekliyor. Lüks villa konseptine sahip tatil sürecini dilediğiniz gibi yönetin ve tadını çıkarın. Jakuziye sahip villalar ile tatiliniz boyunca su masajının rahatlatıcı etkisini her gün yaşayabilirsiniz. Bilindiği gibi suyun insan vücudunda birtakım etkileri vardır. Sakinleştirici ve dinlendirici etkiler çok eski dönemlerden beri kullanılır. Günümüzde ise bu etkiden yararlanmak için jakuziler tercih edilir.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Lüks Villalar</h2>
                <p class="card-text">Herkes mükemmel ve eğlenceli bir tatilin hayalini kurar. Bunun için ihtiyacınız olan şeyin lüks villalar olduğunu itiraf etmemiz gerekir. Doğa içerisindeki lüks konseptli villalarda harika bir tatilin startını vermeniz mümkündür. Siz ve sevdiklerinizle beraber güneşin doğuşundan batışına kadar her şeye şahit olabilir ve eşsiz bir tatil yaşamanın avantajını tüm sene boyunca hissedebilirsiniz. Villacım üzerinden Türkiye’nin en iyi beldelerindeki lüks villa konseptlerini görmeniz, fiyatlarını inlemeniz ve detaylı bilgiler almanız mümkündür.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Ekonomik Villalar</h2>
                <p class="card-text">İş hayatının stresini ve yorgunluğunu atmak için yaz sezonunun cazip tatil fırsatlarını ve beldelerini değerlendirmek gerekir. Sevdiklerinizle beraber yapacağınız bir haftalık bir tatil müddeti bile kendinize gelmenizi sağlar ve sizi motive eder. Eşsiz ve unutulmaz bir tatil için villa kiralamak ve kendinize özel bir tatil yaratmak oldukça kolaydır. Bunun için Türkiye’nin en iyi tatil beldeleri arasındaki beldelerinde yer alan villalardan birini seçmeniz yeterlidir.</p>
            </div>
        </div>
    </div>
</div>

<img src="~/detayfoto/ic.jpg" class="d-block w-100 h-100" />
<img src="~/detayfoto/Villa-Naturel-29_30.jpg" class="d-block w-100 h-100" />