<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VillaSeç</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container px-5">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VillaSeç</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    </ul>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" asp-area="" asp-controller="Kategori" asp-action="Index">Kategoriler</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Villa" asp-action="Index">Villalar</a>
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index">Kullanıcılar</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Bolge" asp-action="Index">Bolgeler</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-column-reverse">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bölgeler
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" asp-area="Bolge" asp-controller="" asp-action="Index">Fethiye</a>
                                <a class="dropdown-item" asp-area="Bolge" asp-controller="" asp-action="Index">Kaş</a>
                                <a class="dropdown-item" asp-area="Bolge" asp-controller="" asp-action="Index">Marmaris</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-column-reverse">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kategoriler
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="Index">Ekonomik Villalar</a>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="Index">Lüks Villalar</a>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="Index">Jakuzili Villalar</a>
                            </div>

                        </li>
                    </ul>
                    <ul class="navbar-nav flex-column-reverse">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>

                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - VillaSeç - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)


</body>

</html>
